services:
  dotnet-app:
    container_name: dotnet-app
    build:
      context: ./MW-WebApp-Nuget/
    environment:
      - DOTNET_RUNNING_IN_CONTAINER=true
      - MW_API_KEY=evaddjfmazsdz8qip2cxva99muxv30wq6g6c
      - RUN_METRICS_DOTNET=true
      - PROJECT_NAME=DEMO-APM
      - SERVICE_NAME=MW-Docker-Nuget
      - MW_TARGET=https://plo4e.middleware.io:443
      - MW_CONSOLE_EXPORTER=true
      - MW_EXCLUDE_LINKS=[]
      - MW_APM_COLLECT_METRICS=true
      - MW_APM_COLLECT_TRACES=true
      - MW_APM_COLLECT_LOGS=true
      - SQL_SERVER_CONNECTION_STRING=Server=mssql,1433;Database=localdb;User Id=sa;Password=Admin@123;Persist Security Info=False;Timeout=300;MultipleActiveResultSets=true;Application Name=dotnet-demo-mssql;TrustServerCertificate=True;
      - ASPNETCORE_URLS=http://+:5192;http://+:5001
    # network_mode: host
    ports:
      - 5000:5192
      - 5002:5001
    restart: on-failure
    

  mssql:
    container_name: mssql-db
    hostname: mssql-db
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: 'Y'
      MSSQL_SA_PASSWORD: 'Admin@123'
      MSSQL_PID: 'Developer'
    # network_mode: host
    ports:
    - 1433:1433
    volumes:
      - mssql_data:/var/opt/mssql
      - ./MW-WebApp-Nuget/sql-scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    entrypoint:
      - /bin/bash
      - -c
      - |
        /opt/mssql/bin/sqlservr &
        sleep 60
        /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P Admin@123 -C -i /docker-entrypoint-initdb.d/init.sql
        wait

volumes:
  mssql_data:
    driver: local